<h3>Comments</h3>
<%  @post.comments.each do |comment|%>
	<div class="well">
		<p><Strong><%= comment.username %> : </Strong>:<%= comment.body %>

<%= link_to "[X]" ,[comment.post,comment] ,
								method: :delete,
								data: { confirm: 'are you sure ?'}%>
		</p>

	</div>
<% end %>
